# FastAPI и сервер
fastapi==0.110.0
uvicorn[standard]==0.29.0

# База данных
sqlalchemy[asyncio]==2.0.29
asyncpg==0.29.0
alembic==1.11.3


# Работа с документами
python-docx==1.1.0
docxtpl==0.16.7  # Шаблонизация DOCX
unoconv==0.9  # Конвертация DOCX → PDF (LibreOffice)

# Логирование и отладка
loguru==0.7.2  # Красивый логгер
pydantic==2.6.1  # Валидация данных
pydantic-settings==2.1.0  # Управление настройками

# Кэширование и очереди (если потребуется)
redis==5.0.1
celery==5.3.6

# Тестирование
pytest==8.0.2
httpx==0.27.0  # Тестирование API

# Безопасность
bcrypt==4.1.2  # Хеширование паролей
pyjwt==2.8.0  # Работа с JWT-токенами
passlib[bcrypt]==1.7.4  # Поддержка хеширования паролей
